.ter_elemento{
    background-color: rgb(255, 255, 255);
    width: 23%;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content:space-around;
    align-items: center;
}

.mensaje{
    display: block;
    width: 250px;
    height: 85%;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
}

.mensaje h2{
    font-weight: bold;
    color: #7e8dd6;
    font-size: 1.3rem;
    text-align: center;
    height: 100%;
}

.personaje {
    width: 90%;
    object-fit: fill;
    margin: 20px auto 25px;
}

.resultado{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.output-text{
    width: 95%;
    height: 425px;
    min-height: 3rem;
    color: rgb(0, 0, 0);
    text-transform: lowercase;
    border: none;
    font-size: 1.3rem;
}

.output-text:focus{
    outline: none;
}

.btnCopiar{
    width: 100%;
    height: 50px;
    background: #ffffff;
    border-color: #F15C52;
    color: #F15C52;
    border-radius: 24px;
    margin: 0 auto;
}

@media (max-width: 768px){
    .ter_elemento{
        background-color: rgb(255, 255, 255);
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .personaje{
        display: none;
    }
    .output-text{
        height: 70%;
    }
}

@media only screen and (max-device-width: 400px) {
    .ter_elemento{
        background-color: rgb(255, 255, 255);
        width: 90%;
        height: 30%;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }
    .mensaje h2{
    height: auto;
}
}
