.cuarto_elem{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.cuarto_elem h2{
    margin: 5px 0;
    color: #ffffff;
}

.redes img{
    height: 23px;
    margin-left: 10px;
}

@media only screen and (max-device-width: 400px) {
    .cuarto_elem h2{
        font-size: 0.8rem;
        margin: 5px 0;
        color: #ffffff;
    }
    .redes img{
        height: 16px;
        margin-left: 5px;
    }
}